.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  position: sticky;
  top: 0;
  background-color: var(--header-background-color);
  z-index: 1;
  color: var(--header-text-color);
}
