@import "/components/header/header.css";
@import "/components/card/card.css";
@import "/components/button/button.css";
@import "/components/navigation/navigation.css";
@import "/components/counter/counter.css";
@import "/components/user_profile/user_profile.css";
@import "/components/toggle_switch/toggle_switch.css";

:root {
  --main-color: red;
  --secondary-color: rgb(232, 232, 232);
  --app-background-color: rgb(255, 255, 255);
  --header-background-color: rgb(172, 172, 223);
  --tags-color: rgb(80, 80, 80);
  --tags-background-color: rgb(227, 227, 227);
  --grid-color: rgb(169, 169, 169);
  --button-color: black;
  --button-color-hover: white;
  --button-background-color: transparent;
  --button-background-color-hover: black;
  --button-border-color: rgb(166, 166, 166);
  --button-border-color-hover: black;
  --nav-background-color: rgb(221, 221, 221);
  --nav-active-tab-color: red;
  --nav-active-tab-color-hover: rgba(255, 0, 0, 0.7);
  --nav-inactive-tab-color: rgb(202, 202, 202);
  --nav-inactive-tab-color-hover: rgb(202, 202, 202, 0.7);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  padding-bottom: 60px;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: var(--app-background-color);
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
}
